/******************************************************************************************************************
  TRANSLATIONS
  --
*******************************************************************************************************************/
@import '_rotate.scss','_scale.scss','_skew.scss','_translate';

// Rotation Using Degree, Radian & Gradient
// deg -> rad -> grad for short
$rte-val:(deg,rad,grad);

//Intervals
$start:-10;
$end:500;
$step:10;



//Loop
@while $end > 0 {
   @each $a in $rte-val {
       .rte-#{$a}-#{$end}{
            @if $a == 'deg'{
                @include rotate(#{$end}deg)
            }@else if($a == 'rad'){
                @include rotate(#{$end}rad)
            }@else if($a == 'grad'){
                @include rotate(#{$end}grad)
            }
         //creates a hover of the above properties
         &-hvr:hover{
            @if $a == 'deg'{
                @include rotate(#{$end}deg)
            }@else if($a == 'rad'){
                @include rotate(#{$end}rad)
            }@else if($a == 'grad'){
                @include rotate(#{$end}grad)
            }
        }
   }
}
$end: $end - $step;
}


//scale multiplier
$s-mul:(1,2,3,4,5);

//Specifies scale of objects with max of 5
$s:1;
@while $s <= 5{
   .sc-#{$s}{
      @include scale(#{$s});
      //
      &-hvr:hover{
        @include scale(#{$s});
      }
   }
   $s: $s + 1;
}


//Loops for scale with multiplier and magnitude
@each $mul in $s-mul{
  @for $x from 1 through 5{
    .sc-ml#{$mul}-mg#{$x}{
      @include scale($mul * $x);
      &-hvr:hover{
         @include scale($mul * $x);
      }
    }
  }
}




$sk-end:360;
$ks-start:10;
$sk-step:10;

@while $sk-end > 0{
  .sk-r-#{$sk-end}{
    @include skewX(#{$sk-end}deg);
    &-hvr:hover,&-act:active{
       @include skewX(#{$sk-end}deg);
    }
  }
  $sk-end: $sk-end - $sk-step;
}


//Interval
$sk-end:360;
$ks-start:10;
$sk-step:10;

//Horizontal ->
@while $sk-end > 0{
  .sk-l-#{$sk-end}{
    @include skewY(#{$sk-end}deg);
    &-hvr:hover{
      @include skewY(#{$sk-end}deg);
    }
  }
  $sk-end: $sk-end - $sk-step;
}



//Intervals
$trans-step:10;
$trans-end:500;
$trans-start:10;
$trans-count:10;


//Loops
@while $trans-start < $trans-end{
  @while $trans-count < $trans-end {
    .trnl-#{$trans-start}-#{$trans-count}{
       @include translate(#{$trans-start}px,#{$trans-count}px);
       //:hover option
       &-hvr:hover{
          @include translate(#{$trans-start}px,#{$trans-count}px);
       }
    }
    $trans-count: $trans-count + $trans-step;
  }
  $trans-start: $trans-start + $trans-step;
} 